body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 1080;
    min-height: 1080px;
    margin: 0;
    font-family: 'Rubik', sans-serif;
    background-size: cover;
    background-color: #e35e24;
}

.card {
    overflow: hidden;
    background-color: white;
    border-radius: 30px;
    border-style: solid;
    box-shadow: 10px 8px 20px rgb(78, 46, 8);
    border-width: 2px;
    border-color: black;
    display: flex;
    justify-content: center;
    padding: 1.5em;
}

.stats {
    padding: 1.5em;
    justify-content: center;
    min-width: 100px;
}

button {
    margin: .5em;
    border-radius: 50%;
    align-self: center;
    height: 30px;
    width: 30px;
    transition: 0.2s ease-in-out;
    background: #ffcf5ec6;
    text-shadow: 2px 0 #ffffff, -2px 0 #ffffff, 0 2px #ffffff, 0 -2px #ffffff,
    1px 1px #ffffff, -1px -1px #ffffff, 1px -1px #ffffff, -1px 1px #ffffff;
}

.recommendation {
    
    justify-content: center;
    align-items: center;
}
.search-bar{
    border-style: solid;
    border-color: black;
    color: rgb(0, 0, 0);
}
#search-button{
    text-align: center;
    max-height: 30px;
}
.search {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 500px;
}

input.search-bar {
    color: rgb(0, 0, 0);
    border: black;
    border-width: 2px;
    padding: .5em 1em;
    border-radius: 24px;
    border-style: solid;
    background: #ffcf5ec6;
    font-size: 120%;
    width: calc(100% - 100px);
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    text-shadow: none;
    color: rgba(94, 27, 27, 0.549);
    opacity: 1; /* Firefox */
}
#image-showcase{
    max-width: 100%;
    max-height: 100%;
}

#showcase{
    border-radius: 24px;
    border-style: solid;
    border-width: .15em;
    max-width: 100%;
    max-height: 100%;
}

#needs{
    padding: 10px;
}

.ingredients{
    max-width: 40em;
}

li{
    display: inline-block;
    border: 1px solid #e35e24;
    margin: 5px;
    padding: 10px;
}

li:on-click{
    text-decoration: line-through;

}

a#tutorial {
    color: rgb(0, 0, 0);
}

@media only screen and (max-width: 600px) {
    li{
      font-size: .8em;
    }
  }

.recommendation.loading {
    visibility: hidden;
    max-height: 10px;
    position: absolute;
}