body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 1080;
    min-height: 1080px;
    margin: 0;
    font-family: 'Rubik', sans-serif;
    background-size: cover;
    background-image: url(https://i.redd.it/eyfqrflgtnh01.jpg);
}

.card {
    margin: 1.5em;
    max-height: fit-content;
    background-color: white;
    border-radius: 30px;
    border-style: solid;
    box-shadow: 10px 8px 20px rgb(78, 46, 8);
    border-width: 2px;
    border-color: black;
    display: flex;
    justify-content: center;
    padding: 1.5em;
    align-content: center;
}

.stats {
    padding: 1.5em;
    justify-content: center;
    min-width: 100px;
    max-height: 100%;
}

button {
    margin: .5em;
    border-radius: 50%;
    align-self: center;
    height: 40px;
    width: 40px;
    transition: 0.2s ease-in-out;
    background: #ffcf5ec6;
    text-shadow: 2px 0 #ffffff, -2px 0 #ffffff, 0 2px #ffffff, 0 -2px #ffffff,
    1px 1px #ffffff, -1px -1px #ffffff, 1px -1px #ffffff, -1px 1px #ffffff;
}

button:hover {
    background: #2c2e2f9b;
}

.recommendation.loading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-height: 0; 
    overflow: hidden;
    transition: max-height 0.5s ease;
}

.recommendation {
    max-height: 1000px;
    visibility: visible;
    transition: max-height 0.5s ease; 
}

.search-bar{
    border-style: solid;
    border-color: black;
    color: rgb(0, 0, 0);
}
#search-button{
    text-align: center;
    max-height: 30px;
}
.search {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 100%;
}

input.search-bar {
    color: rgb(0, 0, 0);
    border: black;
    border-width: 2px;
    padding: .5em 1em;
    border-radius: 24px;
    border-style: solid;
    background: #ffcf5ec6;
    font-size: 120%;
    width: calc(100% - 100px);
}

input.search-bar:hover {
    transition: 0.2s ease-in-out;
    color: rgb(255, 255, 255);
    background: #2c2e2f9b;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    text-shadow: none;
    color: rgba(94, 27, 27, 0.549);
    opacity: 1; /* Firefox */
}
#image-showcase{
    max-width: 100%;
    max-height: 100%;
}

img#showcase {
    max-height: 500px;
}

#showcase{
    border-radius: 24px;
    border-style: solid;
    border-width: .15em;
    max-width: 100%;
    max-height: 100%;
}

#needs{
    padding: 10px;
}

.ingredients{
    max-width: 30em;
}

li{
    display: inline-block;
    border: 1px solid #e35e24;
    margin: 5px;
    padding: 10px;
}

li:on-click{
    text-decoration: line-through;

}

a#tutorial {
    color: rgb(0, 0, 0);
}

@media only screen and (max-width: 600px) {
    li{
      font-size: .8em;
    }
  }

@media only screen and (max-width: 900px) {
    .food {
        transition: 0.25s ease-in-out;
        font-size: 1.5em;
    }
}

/**
after arrow click
**/
.card2 {
    max-height: fit-content;
    background-color: white;
    border-radius: 30px;
    border-style: solid;
    box-shadow: 10px 8px 20px rgb(78, 46, 8);
    border-width: 2px;
    border-color: black;
    display: flex;
    justify-content: center;
    margin: 1.5em;
    padding: 5%;
    align-content: flex-start; 
    flex-direction: column;
    max-height: 30%;
    max-width: 20%;
}

.idle.card2 {
    overflow: hidden;
    visibility: hidden;
    max-height: 10px;
    position: absolute;
}

.body {
    font-size: small;
}